@font-face {
  font-family: "Open Sans";
  src: url(./fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "Open Sans";
  src: url(./fonts/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Regular.ttf);
}

.logo-text {
  width: 80px;
  float: left;
  color: white;
  margin-left: 3em;
  padding-top: 0.5em;
}

html {
  scroll-behavior: smooth;
}

.nav-bar {
  z-index: 1;
  width: 100%;
  position: fixed;
  padding-top: 2.7em;
  right: 100;
  display: inline-block;
  overflow: auto;
  mix-blend-mode: exclusion;
}

.nav-links {
  text-align: center;
}

.nav-links a {
  display: inline-block;
  margin: 2em;
  margin-top: 0;

  margin-bottom: 0;
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.nav-socials {
  float: right;
  width: px;
  color: white;
  margin-right: 3em;
}

.socialIcon {
  font-size: 1.2em;
  margin-left: 1em;
}

.page1,
.page3 {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  background-image: url("images/black_bg.jpg");
  background-color: #161616;
}

a {
  text-decoration: none;
  color: white;
}

.page2 {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  background-image: url("images/white_bg.jpg");
  background-color: #f3f3f3;
}

.page4 {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  background-image: url("images/white_bg.jpg");
  background-color: #f3f3f3;
}

.home-heading {
  max-width: 1500px;
  color: #f3f3f3;
  padding-top: 8em;
  padding-left: 3em;
  padding-right: 2.8em;
  height: 100px;
}

.home-heading h1 .typewrite {
  margin-top: -0.4em;
  font-size: 65px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.home-heading h3 {
  color: #3b3b3b;
  margin-left: 0.2em;
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.upIcon {
  width: 100%;
  color: white;
  font-size: 1.8em;
}

.iconRight {
  right: 0;
  bottom: 0;
  position: fixed;
  margin-bottom: 2.5em;
  margin-right: 3em;
  mix-blend-mode: exclusion;
}

.home-buttons {
  background-color: #1f1f1f;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  display: inline-block;
  margin-right: 1em;
  margin-top: 2em;
  border-radius: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.work-section {
  margin-top: 6em;
  margin-left: 3em;
  margin-right: 3em;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.work-section p {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 1em;
  color: rgb(100, 100, 100);
}

.emailBtn {
  background-color: #f2084f;
}

.twitterBtn {
  background-color: #0fabdc;
}

.instaBtn {
  background-color: #ff8a01;
}

.linkedBtn {
  background-color: #2245fd;
}

.cvBtn {
  background-color: #8222fd;
}

.sticky-footer {
  z-index: 1;
  position: absolute;
  display: flex;
  left: 0;
  bottom: 0;
  width: 50%;
  color: white;
  mix-blend-mode: exclusion;
  padding-bottom: 2em;
}

.sticky-footer h2 {
  padding-left: 3.5em;
  display: inline-block;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.sticky-footer .footer1 div {
  top: 0px;
}

.sticky-footer .footer2 div {
  width: 150px;
}

.sticky-footer .footer3 div {
  width: 150px;
}

.aboutSection {
  padding-top: 9em;
  padding-left: 3em;
  text-align: justify;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.aboutSection h2 {
  font-weight: 500;
  font-size: 29px;
}

.aboutSection p {
  margin-top: -10px;
  font-size: 15px;
  line-height: 1.6em;
  padding-bottom: 0.2em;
  margin-right: 3em;
}

.imageSection {
  width: 50%;
  height: 500px;
}

.aboutimage {
  display: inline-block;
  object-fit: contain;
  height: 450px;
  margin-top: 9.5em;
  position: absolute;
  left: 25%;
}

.cv {
  background-color: #ff4040;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  margin-bottom: 3em;
  border-radius: 2px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 13px;
}

.homedesign {
  margin-bottom: 100em;
}

/* Clear floats after the columns */
* {
  box-sizing: border-box;
}

.text-white {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: white;
}

.skills-section {
  margin-top: 5.5em;
  padding-left: 3em;
  padding-bottom: 2em;
}

.skills-section h1 {
  font-size: 27px;
}

.skills-subheading {
  color: #8e8e8e;
}

.skill {
  font-size: 13px;
}

.appIcon {
  background-color: #cfe839;
  border-radius: 18px;
  width: 60px;
  height: 60px;
}

.skill-app {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: start;
  align-items: center;
  justify-items: center;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: -20px;
  /* justify-content: space-between; */
}

.icon {
  width: 20px;
}

.skill-leftpad {
  padding-right: 1.3em;
  padding-bottom: 0.2em;
}

.icon-row3 {
  background-color: #f96666;
}

.icon-row2 {
  background: rgba(87, 216, 234, 1);
}

.darticon {
  background-image: url("images/AppIcons/dart.jpg");
  background-size: 60px 60px;
}

.htmlicon {
  background-image: url("images/AppIcons/html.jpg");
  background-size: 60px 60px;
}

.javaicon {
  background-image: url("images/AppIcons/java.jpg");
  background-size: 60px 60px;
}

.ricon {
  background-image: url("images/AppIcons/r.jpg");
  background-size: 60px 60px;
}

.pythonicon {
  background-image: url("images/AppIcons/python.jpg");
  background-size: 60px 60px;
}

.cssicon {
  background-image: url("images/AppIcons/css.jpg");
  background-size: 60px 60px;
}

.sqlicon {
  background-image: url("images/AppIcons/SQL.jpg");
  background-size: 60px 60px;
}

.jsicon {
  background-image: url("images/AppIcons/javascript.jpg");
  background-size: 60px 60px;
}

.tsicon {
  background-image: url("images/AppIcons/typescript.jpg");
  background-size: 60px 60px;
}

.nosqlicon {
  background-image: url("images/AppIcons/nosql.jpg");
  background-size: 60px 60px;
}

.angularicon {
  background-image: url("images/AppIcons/angular.jpg");
  background-size: 60px 60px;
}

.spingicon {
  background-image: url("images/AppIcons/springboot.jpg");
  background-size: 60px 60px;
}

.reacticon {
  background-image: url("images/AppIcons/react.jpg");
  background-size: 60px 60px;
}

.mongoicon {
  background-image: url("images/AppIcons/mongo.jpg");
  background-size: 60px 60px;
}

.mysqlicon {
  background-image: url("images/AppIcons/mysql.jpg");
  background-size: 60px 60px;
}

.jqueryicon {
  background-image: url("images/AppIcons/jquery.jpg");
  background-size: 60px 60px;
}

.fluttericon {
  background-image: url("images/AppIcons/flutter.jpg");
  background-size: 60px 60px;
}

.javafxicon {
  background-image: url("images/AppIcons/java.jpg");
  background-size: 60px 60px;
}

.psicon {
  background-image: url("images/AppIcons/ps.jpg");
  background-size: 60px 60px;
}

.aiicon {
  background-image: url("images/AppIcons/ai.jpg");
  background-size: 60px 60px;
}

.xdicon {
  background-image: url("images/AppIcons/xd.jpg");
  background-size: 60px 60px;
}

.figmaicon {
  background-image: url("images/AppIcons/figma.jpg");
  background-size: 60px 60px;
}

.aeicon {
  background-image: url("images/AppIcons/ae.jpg");
  background-size: 60px 60px;
}

.c4dicon {
  background-image: url("images/AppIcons/c4d.jpg");
  background-size: 60px 60px;
}

.lricon {
  background-image: url("images/AppIcons/lr.jpg");
  background-size: 60px 60px;
}

.githubicon {
  background-image: url("images/AppIcons/github.jpg");
  background-size: 60px 60px;
}

.about-container {
  display: flex;
  flex-direction: row;
}

.column1 {
  width: 50%;
}

.column2 {
  width: 50%;
}

.projects {
  display: flex;
  margin-top: 1em;
}

.project-img {
  width: 400px;
  border-radius: 15px;
  object-fit: cover;
}

.project-name {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.project-desc {
  width: 400px;
  font-size: 12px;
  line-height: 1.7em;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.scroll-container {
  margin-right: 1.5em;
}

.project {
  min-width: 400px;
  margin-right: 1em;
  /* background-color: #0fabdc; */
}

.contact-section {
  text-align: center;
  margin: 3em;
  margin-top: 7em;

  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.contact-section h2 {
  font-size: 15px;
  color: rgb(77, 77, 77);
  margin-top: -10px;
}

.contact-section h2 strong {
  color: rgb(13, 138, 211);
}

.contact-section h1 {
  font-size: 42px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.footer {
  height: 80px;
  background-color: rgb(3, 3, 3);
}

.footer h2 {
  margin: 0;
  font-size: 14px;
  padding-top: 2em;
  text-align: center;
  color: rgb(41, 41, 41);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

@media screen and (max-width: 1000px) {
  .home-heading h1 .typewrite {
    font-size: 40px;
  }

  .home-heading {
    padding-left: 3em;
  }

  .aboutSection {
    padding-top: 5em;
  }

  .aboutSection P {
    line-height: 2em;
  }
  .about-container {
    flex-direction: column;
  }

  .column1 {
    width: 100%;
  }
  .column2 {
    width: 100%;
  }

  .aboutimage {
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    margin-top: 12em;
    padding: 2em;
  }
}

@media screen and (max-width: 900px) {
  .nav-bar a {
    display: none;
  }

  .nav-socials {
    display: none;
  }

  .nav-bars {
    float: right;
    margin-right: 2em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 22px;
    padding-top: 1px;
  }

  .skills-section {
    padding-left: 2em;
    padding-right: 0.8em;
    padding-bottom: 3em;
  }

  .home-heading h1 .typewrite {
    font-size: 35px;
  }

  .aboutSection p {
    margin-top: -10px;
    margin-right: 3.5em;
    font-size: 14px;
    line-height: 2.2em;
  }
}

@media only screen and (max-width: 480px) {
  .home-heading {
    padding-left: 2em;
    padding-right: 1.5em;
  }

  .work-section {
    margin-left: 3em;
  }

  .work-section p {
    margin-right: 2em;
    margin-bottom: 3em;
  }

  .project-img {
    width: 300px;
    border-radius: 15px;
    object-fit: cover;
  }

  .project-name {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }

  .project-desc {
    width: 300px;
    font-size: 12px;
    line-height: 1.7em;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin-bottom: 2em;
  }

  .project {
    min-width: 300px;
    margin-right: 1em;
    /* background-color: #0fabdc; */
  }
}

@media only screen and (max-width: 500px) {
}

@media only screen and (max-width: 680px) {
  .work-section {
    margin-right: 1em;
  }
  .sticky-footer {
    display: none;
  }
}
